* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid none;
  /*border-radius: 5px;*/
}

h1 {
  color: #eee;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  padding:20px;
}

h2 {
  font-size: 50px;
  margin: 50vh auto;
  max-width: 500px;
}

h4 {
  margin: 0 10px 20px;
}

a {
  color:white;
  text-decoration: none;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,1)), url("images/typing.jpg") no-repeat 60% 0;
  background-size: cover;
  font-family: Arial;
}

header > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

header ul {
  padding: 10px;
  opacity: 0.5;
  text-align: center;
}

span {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 300px;
}

header li {
  display: inline-block;
  text-align: center;
}

header li {
  list-style: none;
}

header li a {
  font-size: 13px;
  padding: 2px 0;
}

section {
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
margin: 5px 0;
padding: 50px;
min-height: 120vh;
}

section p {
  max-width: 800px;
  margin: 50px 0;
  font-family: 'Patrick Hand', cursive, sans-serif;
  font-size: 25px;
}

section figure {
  height: 200px;
  width: 200px;
  border: 5px solid #aaa;
  border-radius: 100%;
}

section:nth-of-type(2n) {
  position: relative;
  flex-direction: row-reverse;
}

section:nth-of-type(1) {
  background: #ccf;
}

section:nth-of-type(3) {
  background: #fcc;
}

section:nth-of-type(5) {
  background: #cfc;
}

#mastermind figure {
  background: url("images/mastermind.jpg") no-repeat center center;
  background-size: cover;
}

#excelGames figure {
  background: url("images/typing1.jpg") no-repeat center center;
  background-size: cover;
}

#forLoop figure {
  background: url("images/forLoop.jpg") no-repeat 0 0;
  background-size: 200%;
}

#workStudy figure {
  background: url("images/workStudy.jpg") no-repeat center center;
  background-size: 120%;
}

#foundersCoders figure {
  background: url("images/foundersCoders.png") no-repeat center center;
  background-size: 110%;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 300px;
  background: #222;
  text-align: center;
  padding: 50px;
}

footer > div {
  flex: 1 1 150px;
  background: #222;
  color: #fff;
  text-align: left;
  font-family: Arial;
  font-size: 14px;
  margin: 10px;
  padding: 10px;
}

footer li {
  list-style: none;
  margin: 10px;
}

#contact {
  flex-grow: 2;
  order: 1;
}

#social {
  flex-grow: 10;
  text-align: center;
  order: 2;
}

#social ul {
  display: flex;
  flex-wrap: wrap;
}

#social ul div {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

#social li {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: #fff;
  opacity: 0.7;
}

#social li a {
  height: 50px;
  width: 50px;
}

#navigate {
  order: 3;
}

#navigate div {
  float: right;
}

footer li:hover {
  opacity: 1;
}

#social #github {
  background: url("images/github.png") no-repeat center center;
  background-size: 140%;
}

#social #codewars {
  background: url("images/codewars.png");
  background-size: cover;
}

#social #codeCamp {
  background: url("images/freeCodeCamp.jpg");
  background-size: cover;
}

#social #thisSite {
  background: red;
  border-radius: 0;
}

#social #mySite {
  background: url("images/me.png");
  background-size: cover;
}

#social #repl {
  background: url("images/repl.png");
  background-size: cover;
}

/******************************************************/

@media (max-width: 760px) {

  h2 {
    font-size: 35px;
    max-width: 350px;
  }

  header li {
    text-align: left;
    width: 80px;
  }

  #social {
    order: 4;
    text-align: left;
  }

  #navigate div {
    float: left;
  }
}

@media (max-width: 450px) {

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
    max-width: 250px;
  }

  span {
    width: 100%;
  }

  section {
    padding: 20px;
  }

  section p {
    font-size: 20px;
  }

  }
}
